<div class="container_big-card">
  <div class="big-card_photo">
    <img src="https://cdn.mos.cms.futurecdn.net/TYXTeGtyXbqPzvTm36iPfi.jpg" height="300" alt="Noticia News">

  </div>
  <a href="https://www.omelete.com.br/dc-comics/arqueiro-verde-75-anos-a-trajetoria-de-oliver-queen-de-robin-hood-a-arrow#:~:text=Oliver%20Queen%20%C3%A9%20um%20dos,%22bilion%C3%A1rio%20que%20virou%20comunista%22."
    target="_blank">
    <div class="big-card_title">
      <h1>Arqueiro Verde - 75 Anos | A trajetória de Oliver Queen, de Robin Hood a Arrow</h1>
    </div>
  </a>



  <div class="big-card_noticia">
    <p>Hoje ele é um dos personagens mais importantes da DC Comics, pois abriu todo um universo para a editora na
      televisão. Em seu histórico nos quadrinhos, porém, foi acima de tudo atração secundária: Arqueiro Verde levou
      quarenta e dois anos, por exemplo, para merecer uma revista com seu nome na capa.</p>
  </div>
</div>
